/* Reset default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
  }

  .container {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    color: #003366;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    font-size: 1.1rem;
    margin-bottom: 5px;
  }

  
  .contact-form input, .contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    padding: 12px;
    background-color: #0c7576;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
  }
  
  .contact-form button:hover {
    background-color: #0e6465;
  }
  
  #map iframe{
    height: 400px; /* Adjust height as needed */
    width: 100%; /* Full width */
    border: 1px solid #000000; /* Optional border for styling */
    margin: 20px auto; /* Center alignment with some margin */
    border-radius: 8px; /* Rounded corners */
    padding: 10px;
  }
  
  /* Styling for the heading */
  h1 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
  }

  
  